@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#about-section {
    width: 100%;
    height: auto;
    padding: 80px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-left {
    width: 45%;
}

.about-left img {
    width: 100%;
    height: auto;
    max-width: 420px;
    display: block;
}

.about-right {
    width: 50%;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 10px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 25px;
}

.address ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.saprater {
    margin: 0 20px;
}

.expertise ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.expertise li {
    width: 22%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}

.expertise p {
    font-size: 16px;
}
