.reviews-section {
    text-align: center;
    background-color: #4a4a5c;
    color: white;
    padding: 20px;
  }
  
  .rating-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .leave-review {
    background-color: #f4a261;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  
  .arrow {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  

  
  .review-card {
    background-color: white;
    color: rgb(54, 49, 49);
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(221, 210, 210, 0.1);
  }
  
  .review-card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .review-card h3 {
    margin: 10px 0 5px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .social-icons span {
    margin: 0 5px;
    font-size: 1.5rem;
  }
  